* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}

a {
    text-decoration: none;
    color: #ffff;
}

a:hover {
    color: #1db954;
}

ul {
    list-style: none;
}

/*Spotify more related font*/
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');


header {
    background-color: black;
    display: table;
    width: 100%;
    max-height: 100px;
    padding-bottom: 20px;
}

.spotify {
    max-width: 150px;
    padding: 10px 0px 0px 0px; 
    margin-left: 100px;
    margin-top: 10px;
    float: left;
}

.header-menu {
    display: flex;
    float: right;
    margin-right: 50px;
}

.header-ul {
    display: inline-flex;
    margin-top: 20px;
}

.header-ul li {
    padding: 10px;
}

.profile-pic {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    float: left;
    margin-top: -15px;
    margin-right: 10px;
}

.content-body {
    background-color: #1db954;
    height: 670px;
    text-align: center;
    padding-top: 200px;
    display: block;
}

.content-body h1 {
    text-shadow: 5px 5px 0px #095C37;
    font-size: 100px;
}

.content-body p {
    font-size: 2em;
}

.body-center {
    margin: 20px;
}

.player-button {
    border-radius: 20px;
    padding: 10px;
    font-size: 30px;
}

.player-button:hover {
    background-color: #ffff;
}

footer {
    background-color: black;
    display: inline-flex;
    width: 100%;
    padding-top: 20px;
}

/*Spotify footer logo*/
footer img {
    height: 45px;
    width: 150px;
    margin: 10px 0px 0px 100px;
}

footer ul {
    margin: 0 auto;
}

footer ul li {
    color: #757D70;
    padding: 10px;
}

footer ul a li{
    color: #ffff;
}

footer ul a li:hover {
    color: #1db954;
}

.social-media {
    margin: 0 auto;
}

.social-media ul li {
    height: 50px;
    width: 50px;
    margin: 10px;
    padding: 0px;
    border-radius: 15px;
}

.social-media ul a li:hover {
    background-color: #ffff;
}